.about-paragraph{
    color: green;
}
.about-page{
    background-color: #b3b3b3;
    padding: 50px;
    display: flex;
    margin-left: 20px;
    
    
}
.aboutbg{
    width: 50%;
    border-radius: 30px;
}
.about-title{
    font-size: 54px;
    line-height: 54px;
    font-weight: 600;
    text-align: left;
    margin-bottom:50px;
    color:#535353;

    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitle{
    font-size: 48px;
    margin-bottom: 30px;
    color: #1db954;
}
.text-about{
    
    text-align: left;
    align-items: center;
    margin-top: 100px;
    margin: 20px;  
}
.about-paragraph{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    letter-spacing: 1px;
    color: #535353;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    padding: 10px 30px;
    border-radius: 10%;
    background-color: #1db954;
    color: #121212;
    border: 3px solid #1db954;
    font-size: 30px;
    align-items: right;
    text-align: center;
    margin-right: 10px;
    
}
button:hover{
    color: #b3b3b3;
    background-color: #535353;
}
@media only screen and (max-width: 1064px){
    .about-page{
        max-width: 100%;
    }
    .about-title{
        font-size: 45px;
    }
    .subtitle{
        font-size: 30px;
    }
    .aboutbg{
        width: 58%;
    }
    .about-paragraph{
        font-size: 20px;
    }
    
}